<header class="p-3 bg-dark text-white">
    <div class="container">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{{ path("home") }}" class="nav-link px-2 text-white">Главная</a></li>
            <li><a href="{{ path("book_index") }}" class="nav-link px-2 text-white">Книги</a></li>
            <li><a href="{{ path("author_index") }}" class="nav-link px-2 text-white">Авторы</a></li>
        </ul>
    </div>
</header>
